REACT_APP_POSTS_BASE_URL=

# More often than not, these urls are considered sensitive information, hence the need to store them in a .env file
# In this case it would have been fine to put it in code but it was placed here for good practice
# The actual url value will usually not be in the .env.example file which is why it was left blank in the key above
# Since the url is not considered sensitive information in this case, it will be added in a comment below so it can be used for running the project locally

# REACT_APP_POSTS_BASE_URL=https://jsonplaceholder.typicode.com/posts