REACT_APP_POSTS_BASE_URL=

# More often than not, these urls are considered sensitive information, hence the need to store them in a .env file
# In this case it would have been fine to put it in code but I placed it here for good practice
# The actual url value will usually not be in the .env.example file which is why I left it blank in the key above
# Since the url is not considered sensitive information in this case, I will add it in a comment below so it can be used for testing locally

# REACT_APP_POSTS_BASE_URL=https://jsonplaceholder.typicode.com/posts